<div class="stripe-app">

  <!-- HEADER -->
  <div appheader></div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="col-xs-12">

        </div>
        <div class="col-xs-12" style="padding-bottom:.75em;">
          <form class="form" name="paymentForm" novalidate ng-submit="vm.checkout(vm.card)">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group" bs-form-class="paymentForm.publishableKey">
                  <label for="publishableKey" class="control-label">
                    <div class="step">1</div> Set Stripe Publishable Key</label>
                  <input type="text" name="publishableKey" ng-model="vm.publishableKey" class="form-control" ng-change="vm.setPublishableKey(vm.publishableKey)" />
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <label for="cardSelect" class="control-label">
                    <div class="step">2</div> Select Stripe Test Card</label>
                  <select name="cardSelect" class="form-control" ng-options="card as (card.number + ' - ' + card.type) group by card.result for card in vm.cards" ng-model="vm.selectedPreset" ng-change="vm.selectPreset(vm.selectedPreset)"></select>
                </div>
                <div class="form-group" ng-hide="true">
                  <label for="name" class="control-label">Name on Card</label>
                  <input type="text" name="name" class="form-control" />
                </div>

                <div class="form-group" bs-form-class="paymentForm.cardNumber">
                  <p ng-show="paymentForm.cardNumber.$invalid && paymentForm.cardNumber.$ccEagerType">
                    Looks like you're typing a {{paymentForm.cardNumber.$ccEagerType}} number!
                  </p>

                  <label for="cardNumber" class="control-label">Card Number</label>
                  <input type="text" name="cardNumber" ng-model="vm.card.number" class="form-control" cc-number cc-format cc-eager-type />
                  <div ng-messages="paymentForm.cardNumber.$error" ng-show="paymentForm.cardNumber.$dirty">
                    <span ng-messages-include="views/partials/messages.html"></span>
                  </div>
                </div>

                <div class="form-group" bs-form-class="paymentForm.cardCVC">
                  <label for="cardCVC" class="control-label">CVC</label>
                  <input type="text" name="cardCVC" ng-model="vm.card.cvc" class="form-control" cc-cvc />
                  <div ng-messages="paymentForm.cardCVC.$error" ng-show="paymentForm.cardCVC.$dirty">
                    <span ng-messages-include="views/partials/messages.html"></span>
                  </div>
                </div>

                <div class="form-group" bs-form-class="paymentForm.cardCVC">
                  <label>Expiration</label>
                  <div cc-exp class="form-inline">
                    <div class="form-group" bs-form-class="paymentForm.ccExpMonth">
                      <input class="form-control input-xs" ng-model="vm.card.exp_month" name="ccExpMonth" cc-exp-month />
                      <div ng-messages="paymentForm.ccExpMonth.$error" ng-show="paymentForm.ccExpMonth.$dirty">
                        <span ng-messages-include="views/partials/messages.html"></span>
                      </div>
                    </div>
                    <span> / </span>
                    <div class="form-group" bs-form-class="paymentForm.ccExpYear">
                      <input class="form-control input-xs" ng-model="vm.card.exp_year" name="ccExpYear" cc-exp-year />
                      <div ng-messages="paymentForm.ccExpYear.$error" ng-show="paymentForm.ccExpYear.$dirty">
                        <span ng-messages-include="views/partials/messages.html"></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <label for="cardSelect" class="control-label">
                  <div class="step">3</div> Submit Credit Card Form</label>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-12">
          <div class="well" ng-show="vm.card">
            <strong>{{ vm.card.type }}</strong>
            <span>{{ vm.card.description }}</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <label for="cardSelect" class="control-label">
              <div class="step">4</div> Grab Your Token</label>

            <div class="col-xs-12" id="result">
              <div ng-show="vm.stripeResponse">
                <div class="alert alert-success">Success!</div>
                <p>Stripe Token: <strong>{{vm.stripeResponse.id}}</strong></p>
                <label for="cardSelect" class="control-label">Full Payload:</label>
                <!-- <textarea name="" id="" rows="10">{{vm.stripeResponse}}</textarea> -->
                <pre>{{ vm.stripeResponse | json}}</pre>
              </div>
              <div ng-show="vm.stripeError">
                <div class="alert alert-danger">Error!</div>
                <pre>{{ vm.stripeError | json}}</pre>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- <div ng-if="false">
        <pre>{{ paymentForm | json}}</pre>
        <form name="paymentForm">
          <input type="text" ng-model="card.number" name="cardNumber" cc-number cc-eager-type />
        </form>
        <p ng-show="paymentForm.cardNumber.$invalid && paymentForm.cardNumber.$ccEagerType">
          Looks like you're typing a {{paymentForm.cardNumber.$ccEagerType}} number!
        </p>
        <p ng-show="paymentForm.cardNumber.$valid">
          Yes, that looks like a valid {{paymentForm.cardNumber.$ccType}} number!
        </p>
      </div> -->

    </div>
    <!--End Row-->
  </div>
  <!--End container-->


  <!-- FOOTER -->
  <div footer class="footer-fixed"></div>


</div>
