<!-- HEADER -->
<div ng-include="'components/Header-Utils/index.html'"></div>

<div class="container">
  <div class="row" style="margin:60px 0;">
    <div class="col-sm-12 text-center">
      <h1>Stripe Token Generator</h1>
      <p class="lead">Speed up your backend Stripe API integrations.</p>
      <p>Stripe Token Generator gives you easy access to one-time use Stripe tokens for all of the available Stripe test credit cards.</p>
      <br>
      <p><a ui-sref="app" class="btn btn-primary btn-lg">Generate Stripe Tokens</a></p>
    </div>
  </div>
</div>


<!-- <div newsletter></div> -->

<!-- FOOTER -->
<div footer class="footer-fixed"></div>
